{{#if visible}}
  <div style={{position}} class="map-menu">
    {{#each places as |place|}}
      <div {{action "addMapItem" place}} class="menu-item">
        {{place.name}}
      </div>
    {{/each}}
  </div>
{{/if}}
