  <div style={{position}} draggable="true" ondragstart={{action 'saveInitialLocation'}} ondragend={{action 'locationDropped'}} class="map-item">
    <ion-icon name="pin"></ion-icon>
    <span class="map-location">{{place.name}}</span>
  </div>
