<div class="nav nav-primary">
  <div class="flex-scroll {{widthClass}}">
    <NavTab @modelName="beast" @icon="bug" />
    <NavTab @modelName="lore" @icon="book" />
    <NavTab @modelName="npc" @icon="contact" />
    <NavTab @modelName="place" @icon="pin" />
    <NavTab @modelName="session" @icon="brush" />
    <NavTab @modelName="song" @icon="musical-note" />
    <div class="tab no-padding">
      <LinkTo @route="login">
        <div class="full flex-center flex-column">
          <ion-icon name="key"></ion-icon>
          <span>Login</span>
        </div>
      </LinkTo>
    </div>
  </div>
  <div class="search">
    <div class="search-input">
      <input type="text" id="search-keyword" />
    </div>
    <div class="search-button" onclick={{action "toggleSearch"}}>
      <div class="tab no-padding">
        <div class="full flex-center flex-column">
          {{#if showSearchBar}}
            <ion-icon name="close-circle-outline"></ion-icon>
            <span>Hide</span>
          {{else}}
            <ion-icon name="search"></ion-icon>
            <span>Search</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row nav-pad"></div>
