<div class="full">
  <h1 class="create-title npc-color"> Create New NPC </h1>
  <NpcForm />
  <div class="width-100 center-text">
    <button class="save-button npc-background">Create NPC</button>
  </div>
</div>
