<ItemDetail @modelName="npc" @componentName="npc-form" @route="npcs" @model={{model}}>
  <div class="row">
    <div class="item-title npc-color">
      {{model.name}}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="item-label">Description</div>
    <div class="item-description">
      {{model.appearance}}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="item-label">Lore</div>
    <div class="item-lore">
      <HotLink @text={{model.info}} />
    </div>
  </div>
</ItemDetail>
