<div class="map-wrapper">
  <div class="full">
    <img class="world-map" src="/assets/world_map.jpg" />
    <div>
      {{#each model as |place|}}
        {{#if (and (not-eq place.x null) (not-eq place.y null))}}
          <MapItem @place={{place}} />
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
