$colors: (
  npc: rgb(100, 140, 220),
  place: rgb(210, 125, 50),
  song: rgb(159, 83, 226),
  primary: rgb(190, 190, 190),
  primary-light: rgb(210, 210, 210),
  positive: rgb(30, 140, 39),
  negative: rgb(207, 37, 35)
);

@each $name, $rgb in $colors {
  .#{$name}-color {
    color: $rgb;

    &:hover {
      color: $rgb;
    }
  }

  .#{$name}-background {
    background-color: $rgb;
  }
}
