$primary-color: rgb(190, 190, 190);
$positive-color: rgb(30, 140, 39);
$negative-color: rgb(207, 37, 35);
$button-color: rgb(60, 60, 60);
$npc-color: rgb(100, 140, 220);
$song-color: rgb(159, 83, 226);

.npc-color {
  color: $npc-color;
}

.npc-background {
  background-color: $npc-color;
}

.song-color {
  color: $song-color;
}

.song-background {
  background-color: $song-color;
}
