html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(37, 52, 76) !important;
}

body .ember-view {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

.no-padding {
  padding: 0px !important;
}

.height-100 {
  height: 100%;
}

.col-1-5 {
  width: 12.5% !important;
  max-width: 12.5% !important;
  flex-basis: 12.5% !important;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.full {
  height: 100%;
  width: 100%;
}

.row {
  margin-right: 0px !important;
}

/**
======================= SIDEBAR =====================
**/

.nav-pad {
  height: 8vh;
}

.nav {
  position: fixed;
  width: 100vw;
  min-width: 100vw;
  font-weight: 400;
  font-size: 1.5vh;
  height: 8vh;
  overflow: auto;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0px !important;
}

.nav-primary {
  background-color: rgb(20, 28, 40);
  top: 0;
  border-bottom: 1px solid #aaa;
}

.nav-detail {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: rgb(26, 34, 48);
}

.nav div a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  padding: 0.5vh 0;
  position: relative;
  display:block;
  text-decoration: none;
  text-align: center;
}

.nav div a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.nav div a.active {
  background-color: rgba(125, 125, 125, 0.3);
}

.nav div span {
  font-size: 1.2em;
  font-weight: bold;
}

.nav div ion-icon {
  font-size: 1.8em;
  vertical-align:middle;
}

/**
======================= LOGIN =================
**/

.floating-login {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
  max-width: 14em;
}

.floating-login form input {
  margin-bottom: 10px;
}
