@import 'items.scss';
@import 'forms.scss';
@import 'login.scss';
@import 'nav.scss';
@import 'world.scss';

// ember-modal-dialog
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(26, 26, 26) !important;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

// https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
// Don't focus buttons when you click on them.
button:focus {
  outline: 0 !important;
}

audio:focus {
  outline: 0 !important;
}

.container {
  height: 100%;
  margin: 0 !important;
  max-width: 100% !important;
  padding: 0 !important;
  width: 100% !important;
}

.no-padding {
  padding: 0px !important;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.center-text {
  text-align: center;
}

.col-1-5 {
  flex-basis: 12.5% !important;
  max-width: 12.5% !important;
  width: 12.5% !important;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hide {
  display: none !important;
}

.flex-column {
  flex-direction: column;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.full {
  height: 100%;
  width: 100%;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main-content {
  padding: 5px 15px !important;
  height: 100%;
  position: relative;
}

.default-text-size {
  font-size: 1.3rem;

  @media (max-width: 500px) {
    font-size: 1.1rem;
  }
}

.hot-link {
  text-decoration: none !important;
  display: inline-block;

  &:hover {
    filter: brightness(80%);
  }
}

.action-button {
  border: 0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  height: 3.3rem;
  padding: 5px;
  width: 30%;

  @media (max-width: 500px) {
    font-size: 1.1rem;
    height: 3rem;
    width: 100%;
  }
}
