@import 'items.scss';
@import 'forms.scss';
@import 'login.scss';
@import 'nav.scss';
@import 'components/toggle-button.scss';

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(26, 26, 26) !important;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

// https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
button:focus {
  outline: 0 !important;
}

.container {
  height: 100%;
  margin: 0 !important;
  max-width: 100% !important;
  padding: 0 !important;
  width: 100% !important;
}

.no-padding {
  padding: 0px !important;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.center-text {
  text-align: center;
}

.primary-color {
  color: $primary-color;
}

.col-1-5 {
  flex-basis: 12.5% !important;
  max-width: 12.5% !important;
  width: 12.5% !important;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.full {
  height: 100%;
  width: 100%;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main-content {
  padding: 5px;
}

.hot-link {
  text-decoration: none !important;

  &.npc {
    color: $npc-color;
  }
}

.action-button {
  border: 0;
  border-radius: 5px;
  font-size: 1.5vh;
  font-weight: bold;
  height: 4vh;
  padding: 5px;
  width: 30%;

  @media (max-width: 500px) {
    font-size: 2.3vh;
    height: 5vh;
    width: 100%;
  }
}

/**
======================= LOGIN =================
**/

.floating-login {
  bottom: 0;
  max-width: 14em;
  padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  right: 0;
}

.floating-login form input {
  margin-bottom: 10px;
}
