html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(37, 52, 76) !important;
}

body .ember-view {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

.no-padding {
  padding: 0px !important;
}

.height-100 {
  height: 100%;
}

.col-1-5 {
  width: 12.5% !important;
  max-width: 12.5% !important;
  flex-basis: 12.5% !important;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.full {
  height: 100%;
  width: 100%;
}

.row {
  margin-right: 0px !important;
}

/**
================== PRIMARY NAV ===================
**/

.nav-pad {
  height: 8vh;
}

.nav-primary {
  background-color: rgb(20, 28, 40);
  top: 0;
  border-bottom: 1px solid #aaa;
  position: fixed;
  width: 100vw;
  min-width: 100vw;
  font-weight: 400;
  font-size: 1.8vh;
  height: 8vh;
  overflow: auto;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0px !important;
}



.nav-primary div a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  padding: 0.5vh 0;
  position: relative;
  display:block;
  text-decoration: none;
  text-align: center;
}

.nav-primary div a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-primary div a.active {
  background-color: rgba(125, 125, 125, 0.3);
}

.nav-primary div span {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-primary div ion-icon {
  font-size: 1.8em;
  vertical-align:middle;
}

/**
======================== SIDEBAR NAV ================
**/

.nav-sidebar {
  background-color: rgb(26, 34, 48);
  position: fixed;
  height: 100%;
  left: 0;
  width: 10vw;
}

@media (max-width: 500px) {
  .nav-sidebar {
    width: 25vw;
  }
}

.nav-sidebar-wrapper {
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
  height: 6vh;
}

@media (max-width: 500px) {
  .nav-sidebar-wrapper {
    height: 10vh;
  }
}

.nav-sidebar-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2vh;
  padding: 0.5vh 0;
  position: relative;
  display:block;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 500px) {
  .nav-sidebar-link {
    font-size: 2vh;
  }
}

.nav-sidebar-item {
  font-size: 0.8em;
}

.nav-sidebar div a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-sidebar div a.active {
  background-color: rgba(125, 125, 125, 0.3);
}

/**
======================= LOGIN =================
**/

.floating-login {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
  max-width: 14em;
}

.floating-login form input {
  margin-bottom: 10px;
}
