@use "sass:map";

.item-form {

  .form-input-label {
    color: map.get($colors, "primary");
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .item-input {
    border: 0;
    border-radius: 5px;
    font-size: $input-font-size;
    padding: 8px 5px 8px 5px;
    width: 100%;
  }

  .alias-input {
    white-space: pre-wrap;
  }

  textarea {
    height: 10rem;

    @media (max-width: 500px) {
      height: 12rem;
    }

    &.extra-long {
      height: 20rem;

      @media (max-width: 500px) {
        height: 24rem;
      }
    }
  }

  .poi-edit {
    padding-left: 40px;

    @media (max-width: 500px) {
      padding-left: 20px;
    }
  }

  .upload-button {
    background-color: white;
    border-radius: 5px;
    display: block;
    font-size: $input-font-size;
    overflow-wrap: break-word;
    padding: 5px;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }

    @media (max-width: 500px) {
      max-width: 67vw;
    }
  }

}

.file-upload {
  width: 100% !important;
}

.create-title {
  font-size: 2.5rem;
  text-align: center;

  @media (max-width: 500px) {
    font-size: 3.5rem;
  }
}
