@use "sass:map";
@import "_colors.scss";

$base-font-size: 2.1vh;
$input-font-size: 1.8vh;


.item-detail {
  color: map.get($colors, "primary");
  font-size: $base-font-size;
  width: 100%;

  .item-title {
    font-size: 3vh;
    text-align: center;
    width: 100%;
  }

  .item-label {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.6vh;
    font-weight: bold;
    margin-bottom: 4px;
    padding-bottom: 4px;
    text-align: left;
    width: 100%;
  }

  .item-description {
    width: 100%;
  }

  .item-lore {
    width: 100%;
  }

  br {
    content: "";
    display: block;
    margin: 15px 0;
  }

  .item-audio {
    margin-top: 5px;
    width: 100%;
  }

}
