.login {
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;


  .login-input {
    font-size: 1.3rem;
    margin: 0px auto 3px auto;
    width: 50%;

    @media (max-width: 500px) {
      width: 100%;
    }

  }

  .login-button {
    font-size: 1.3rem;
    margin-top: 3px;
    width: 50%;

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
