$nav-height: 8vh;
$nav-width-large-screen: 15vw;
$nav-width-small-screen: 25vw;


.nav-primary {
  background-color: rgb(20, 28, 40);
  border-bottom: 1px solid #aaa;
  font-size: 1.8vh;
  font-weight: 400;
  height: $nav-height;
  margin: 0px !important;
  min-width: 100vw;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;

  .flex-scroll {
    flex-direction: row;
    display: flex;
    overflow-x: auto;

    .tab {

      div {
        width: 10vw;

        @media (max-width: 500px) {
          width: 18vw;
        }
      }

      a {
        color: rgba(255, 255, 255, 0.9);
        display:block;
        font-size: 0.9em;
        height: 100%;
        padding: 0.5vh 0;
        position: relative;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }

        &.active {
          background-color: rgba(125, 125, 125, 0.2);
        }
      }

      span {
        font-size: 1.2em;
        font-weight: bold;
      }

      ion-icon {
        font-size: 1.8em;
        vertical-align:middle;
      }
    }
  }
}

.nav-pad {
  height: $nav-height;
}

::-webkit-scrollbar {
  height: 0px !important;
  width: 0px !important;
  -webkit-appearance: none;
}

.nav-sidebar {
  background-color: rgb(26, 34, 48);
  height: calc(100% - #{$nav-height});
  left: 0;
  overflow-y: scroll;
  position: fixed;
  width: $nav-width-large-screen;
  z-index: 0;


  @media (max-width: 500px) {
    width: $nav-width-small-screen;
  }

  .nav-sidebar-wrapper {
    border-bottom: 1px solid rgb(20, 30, 40);
    height: 5vh;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;

    @media (max-width: 500px) {
      height: 7vh;
    }

    .nav-sidebar-link {
      color: rgba(255, 255, 255, 0.9);
      display:block;
      font-size: 2vh;
      padding: 0.5vh 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 100%;

      @media (max-width: 500px) {
        font-size: 2vh;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      .nav-sidebar-item {
        flex-direction: row;
        font-size: 0.8em;

        ion-icon {
          font-size: 2em;
          margin-right: 0.4em;
        }
      }
    }
  }



}

.col-pad {
  width: $nav-width-large-screen;

  @media (max-width: 500px) {
    width: $nav-width-small-screen;
  }
}
