@import "_colors.scss";

$nav-height: 8vh;
$nav-width-large-screen: 15vw;
$nav-width-small-screen: 25vw;


.nav-primary {
  background-color: rgb(20, 28, 40);
  border-bottom: 1px solid #aaa;
  font-size: 1.8vh;
  font-weight: 400;
  height: $nav-height;
  margin: 0px !important;
  min-width: 100vw;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;

  .flex-scroll {
    background-color: rgb(20, 28, 40);
    border-right: 1px solid gray;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    transition: width 0.5s;
    z-index: 10;

    &.normal {
      width: 90vw;

      @media (max-width: 500px) {
        width: 82vw;
      }
    }

    &.shrink {
      width: 50vw;

      @media(max-width: 500px) {
        width: 0vw;
      }
    }
  }

  .search {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: 50vw;
    z-index: 0;

    @media(max-width: 500px) {
      width: 100vw;
    }

    .search-button {
      cursor: pointer;
      height: 100%;
      right: 0;
    }

    // Since it's a flex column, align items / justify content are swapped.
    // We don't want to justify-content since that'll vertically align the items.
    // Instead we center it using a vh margin, that way the results div is
    // appropriately positioned.
    .search-input {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50%;
      margin-left: 10px;
      width: 100%;
      position: relative;

      input {
        border: none;
        border-radius: 5px;
        height: calc($nav-height * 0.4);
        padding: 5px;
        width: 80%;

        @media (max-width: 500px) {
          height: calc($nav-height * 0.6);
        }
      }

      .search-results {
        border-radius: 5px;
        color: $primary;
        display: flex;
        flex-direction: column;
        width: 80%;
        z-index: 10000000;
        margin-top: 1px;

        .search-result a {
          border-radius: 5px;
          background-color: rgb(15, 23, 35);
          border-bottom: 1px solid rgb(90, 90, 90);
          color: $primary;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          align-items: center;
          padding: 0px 10px;
          height: 4.5vh;

          @media (max-width: 500px) {
            height: 6.5vh;
          }

          &:hover {
            background-color: rgb(5, 10, 15);
            color: $primary-light;
          }
        }
      }

    }
  }

  .tab {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9em;
    height: 100%;

    div {
      width: 10vw;

      @media (max-width: 500px) {
        width: 18vw;
      }
    }

    a {
      color: inherit;
      display:block;
      height: 100%;
      padding: 0.5vh 0;
      position: relative;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }

      &.active {
        background-color: rgba(125, 125, 125, 0.2);
      }
    }

    span {
      font-size: 1.2em;
      font-weight: bold;
    }

    ion-icon {
      font-size: 1.8em;
      vertical-align:middle;
    }
  }
}

.nav-pad {
  height: $nav-height;
}

::-webkit-scrollbar {
  height: 0px !important;
  width: 0px !important;

  -webkit-appearance: none;
}

.nav-sidebar {
  background-color: rgb(26, 34, 48);
  height: calc(100vh - #{$nav-height});
  left: 0;
  overflow-y: scroll;
  position: fixed;
  width: $nav-width-large-screen;
  z-index: 0;


  @media (max-width: 500px) {
    width: $nav-width-small-screen;
  }

  .nav-sidebar-wrapper {
    border-bottom: 1px solid rgb(20, 30, 40);
    height: 5vh;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;

    @media (max-width: 500px) {
      height: 7vh;
    }

    .nav-sidebar-link {
      color: rgba(255, 255, 255, 0.9);
      display:block;
      font-size: 2vh;
      padding: 0.5vh 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 100%;

      @media (max-width: 500px) {
        font-size: 2vh;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      .nav-sidebar-item {
        flex-direction: row;
        font-size: 0.8em;

        ion-icon {
          font-size: 2em;
          margin-right: 0.4em;
        }
      }
    }
  }



}

.col-pad {
  width: $nav-width-large-screen;

  @media (max-width: 500px) {
    width: $nav-width-small-screen;
  }
}
