@import "_colors.scss";
@import "nav.scss";

.map-wrapper {
  height: calc(100vh - #{$nav-height} - 10px);
  max-width: 100%;
  overflow: scroll;
  position: relative;
  top: 0;

  @media (max-width: 500px) {
    height: calc(100vh - #{$nav-height-mobile} - 10px);
  }

  .world-map {
    cursor: default;
    max-width: 2048px;
    opacity: 0.7;
    position: relative;
    z-index: 0;

    @media (max-width: 500px) {
      width: 1400px;
    }
  }

  .remove-item {
    align-items: center;
    border: 3px solid red;
    bottom: 0px;
    display: flex;
    height: 3.3rem;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 3;

    span {
      color: red;
      font-size: 2rem;
    }

  }

  .map-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;

    a {
      color: white;

      &:hover {
        filter: brightness(80%);
      }
    }

    ion-icon {
      color: white;
      font-size: 1.6rem;

      @media (max-width: 500px) {
        font-size: 1rem;
      }
    }

    .map-location {
      font-size: 1rem;

      @media (max-width: 500px) {
        font-size: 0.8rem;
      }
    }
  }

  .map-item-tooltip {
    background-color: $background;
    padding: 3px 5px;
    z-index: 3000;

    .tooltip-arrow {
      border-top-color: $background;
    }

    .tooltip-inner {
      background-color: $background;
      font-size: 1.2rem;
    }
  }
}

.map-menu {
  align-items: center;
  background-color: $background;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  max-height: 8rem;
  padding: 3px;
  position: absolute;
  width: 10rem;
  z-index: 2000;

  .menu-item {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    padding: 5px;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.map-item-menu {
  position: absolute;
  z-index: 2000;

  .delete {
    color: rgb(240, 90, 90);

    &:hover {
      color: rgb(200, 80, 80);
    }
  }

  .menu-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    position: absolute;
    border-radius: 20px;
    background-color: $background;
    padding: 5px;
    height: 2.4rem;
    width: 2.4rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:nth-child(1) {
      top: -60px;
    }

    &:nth-child(2) {
      top: -35px;
      left: 35px;
    }
  }
}
