html {
  height: 100%;
}

body {
  background-color: #add8e6;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.main-content {
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/************ Session Content *********/
.content-panel {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px;
}

.content-controls {
  height: 31px;
  width: 100%;
  padding-left: 10px;
}

.session-content {
  height: calc(100% - 31px);
  overflow-y: auto;
  padding: 10px 10px 10px 20px;
}

.content-controls {
  border-bottom: 1px solid purple;
}

.control-button {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.control-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.control-button:focus {
  outline: none;
}

.icon-button {
  height: 20px;
  width: 20px;
}

#session-text {
  display: none;
  height: 100% !important;
}

/********** Custom Sub Templates *************/
/** City Tabs **/
.ui-tabs .ui-tabs-nav li {
  border-bottom-width: 1px !important;
  margin-bottom: 1px !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0px !important;
}

.ui-tabs .ui-tabs-panel p {
  white-space: pre-wrap;
}


/****** Session Panel *******/
.session-panel {
  background-color: #add8e6;
  border: 1px solid green;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
}

.selectors {
  width: 100%;
  border-bottom: 1px solid yellow;
  padding-bottom: 10px;
}

.selector-row {
  width: 85%;
  margin: auto;
  margin-top: 7px;
}

.session-items {
  text-align: center;
}


/****** Auto Complete *******/

.auto-complete {
  text-align: center;
}

.auto-complete-input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.auto-complete .entry {
  color: rgb(217, 217, 217);
  text-align: left;
  padding-left: 28px;
  background-color: white;
}

.auto-complete ul {
  width: 100%;
  list-style: none;
  padding: 0px 10px 0px 10px;
  border-radius: 0 5px;
  display: none;
  position: absolute;
  z-index: 100000;
}

.auto-complete ul li.entry {
  color: rgb(188, 188, 188);
  text-align: left;
  padding-left: 28px;
  background-color: white;
  padding-left: 15px;
  height: 30px;
}

.auto-complete ul li.entry:hover {
  cursor: pointer;
}

.auto-complete ul li.entry.selected {
  background-color: rgb(255, 255, 225);
}

.item-type {
  float: right;
  margin-right: 20px;
}

/********* CARDS *************/
.card {
  height: 150px;
  margin: 5px 0px 5px 0px;
  padding: 0px;
  border-bottom: 1px solid black;
  background: transparent;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.card-flavor {
  font-size: 11px;
  color: #eeeeee;
}

.card-hover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-hover {
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.hover-row {
  margin-left: 0px;
  margin-right: 0px;
  height: 75px;
}

.hover-button {
  height: 75px;
  width: 75px;
  background: none;
  border: none;
  border-radius: 5px;
}

.hover-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.hover-button:focus {
  outline: none;
}

.hover-icon {
  height: 60px;
  width: 60px;
  /**
   * This is some black magic to apply coloring to the icons.
   * For more info see: https://stackoverflow.com/a/53336754
   * Also, to generate filters see: https://codepen.io/sosuke/pen/Pjoqqp
   */
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}

.card-image {
  opacity: 1.0;
  height: 100%;
  width: 100%;
}

.card-letter {
  margin-bottom: 0px;
}

.letter-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
  position: relative;
  z-index: 100;
}

.card-audio {
  width: 100%;
  z-index: 100;
  height: 30px;
  margin-top: -10px;
}

.song-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 100;
}
