{% load custom_filters %}
{% load static %}

<div id="si_{{si_id}}" class="card row">
  {% if class == "Image" or class == "City" or class == "Monster" %}
  <img class="card-image" src="{{item.image_file.url}}" />
  {% endif %}

  {% if class == "Letter" %}
  <h2 class="letter-title">{{item.name}}</h2>
  <p class="card-letter">
    {% if item.text|length >= 240 %}
    {{item.text|slice:":240"}}...
    {% else %}
    {{item.text}}
    {% endif %}
  {% endif %}

  {% if class == "Song" %}
  <h2 class="song-title">{{item.name}}</h2>
  <audio class="card-audio" id="song_{{item.pk}}" controls {% if item.loop %} loop {% endif %}>
    <source src="{{item.sound_file.url}}" />
  </audio>
  {% endif %}

  <div class="card-hover">
    <div class="row hover-row flex-center">
      {% if class == "Image" or class == "City" or class == "Dungeon" or class == "Monster" %}
      <h2 class="card-title">{{item.name}}</h2>
      {% endif %}
    </div>
    <div class="row hover-row flex-center">
      <button data-id="{{item.pk}}" data-model="panel.{{class|lower}}" class="delete-button hover-button flex-center">
        <img class="hover-icon" src="{% static "icons/trashcan.svg" %}" />
      </button>
      {% if class != "Song" and class != "Dungeon" %}
      <button data-id="{{item.pk}}" data-model="panel.{{class|lower}}" class="send-button hover-button flex-center">
        <img class="hover-icon" src="{% static "icons/arrow-right.svg" %}" />
      </button>
      {% endif %}
      {% if class == "Song" %}
      <button data-id="{{item.pk}}" class="play-button hover-button flex-center">
        <img class="hover-icon" src="{% static "icons/play.svg" %}" />
      </button>
      <button class="stop-button hover-button flex-center">
        <img class="hover-icon" src="{% static "icons/stop.svg" %}" />
      </button>
      {% endif %}
    </div>
  </div>
</div>
