<h1>{{city.name}}</h1>

<div id="tabs_{{city.id}}">
  <ul>
    {% for item in city.cityitem_set.all %}
    <li><a href="#tabs-{{city.id}}-{{item.number}}">{{item.number}}{% if item.name %} - {{item.name}}{% endif %}</a></li>
    {% endfor %}
  </ul>
  {% for item in city.cityitem_set.all %}
  <div id="tabs-{{city.id}}-{{item.number}}">
    <p>{{item.text}}</p>
  </div>
  {% endfor %}
</div>

<!-- So this is a bit jank still, but since we convert newlines into <br />
     tags, scripts directly rendered onto the page won't work correctly unless
     they are on a single line. -->
<script>$(function() {$("#tabs_{{city.id}}").tabs();});</script>
